<%= form_with model: @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit "create article" %>
<% end %>
<p><%= link_to "show", article_path%></p>
<p><%= link_to "back", articles_path%></p>
