<h1><%= @article.title %></h1>
<h2><%= @article.content %></h2>
<button type="button" class="btn btn-light float-right"><%= link_to "edit article", edit_article_path %></button>
<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<p><%= link_to "back to articles", articles_path%></p>
